<img src="http://dask.readthedocs.io/en/latest/_images/dask_horizontal.svg"
     align="right"
     width="30%"
     alt="Dask logo\">

# Parallelize code with `dask.delayed`

In this section we parallelize simple for-loop style code with Dask and `dask.delayed`. Often, this is the only one function that you will need to convert functions for use with Dask.

This is a simple way to use `dask` to parallelize existing codebases or build [complex systems](http://matthewrocklin.com/blog/work/2018/02/09/credit-models-with-dask).  This will also help us to develop an understanding for later sections.

## Basics

First let's make some toy functions, `inc` and `add`, that sleep for a while to simulate work. We'll then time running these functions normally.

In the next section we'll parallelize this code.

In [ ]:
from time import sleep

def inc(x):
    sleep(1)
    return x + 1

def add(x, y):
    sleep(1)
    return x + y

We time the execution of this normal code using the `%%time` magic, which is a special function of the Jupyter Notebook.

In [ ]:
%%time
# This takes three seconds to run because we call each
# function sequentially, one after the other

x = inc(1)
y = inc(2)
z = add(x, y)

### Parallelize with the `dask.delayed` decorator

Those two increment calls *could* be called in parallel, because they are totally independent of ane-another.

We'll transform the `inc` and `add` functions using the `dask.delayed` function. When we call the delayed version by passing the arguments, exactly as before, but the original function isn't actually called yet - which is why the cell execution finishes very quickly.
Instead, a *delayed object* is made, which keeps track of the function to call and the arguments to pass to it.

In [ ]:
from dask import delayed

In [ ]:
%%time
# This runs immediately, all it does is build a graph

x = delayed(inc)(1)
y = delayed(inc)(2)
z = delayed(add)(x, y)

This ran immediately, since nothing has really happened yet.

To get the result, call `compute`. Notice that this runs faster than the original code.

In [ ]:
%%time
# This actually runs our computation using a local thread pool

z.compute()

## What just happened?

The `z` object is a lazy `Delayed` object.  This object holds everything we need to compute the final result, including references to all of the functions that are required and their inputs and relationship to one-another.  We can evaluate the result with `.compute()` as above or we can visualize the task graph for this value with `.visualize()`.

In [ ]:
z

In [ ]:
# Look at the task graph for `z`
z.visualize()

Notice that this includes the names of the functions from before, and the logical flow of the outputs of the `inc` functions to the inputs of `add`.

### Some questions to consider:

-  Why did we go from 3s to 2s?  Why weren't we able to parallelize down to 1s?
-  What would have happened if the inc and add functions didn't include the `sleep(1)`?  Would Dask still be able to speed up this code?
-  What if we have multiple outputs or also want to get access to x or y?

## Exercise: Parallelize a for loop

`for` loops are one of the most common things that we want to parallelize.  Use `dask.delayed` on `inc` and `sum` to parallelize the computation below:

In [ ]:
data = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
%%time
# Sequential code

results = []
for x in data:
    y = inc(x)
    results.append(y)
    
total = sum(results)

In [ ]:
total

In [ ]:
%%time
# Your parallel code here...

In [ ]:
%load solutions/01-delayed-loop.py

How do the graph visualizations compare with the given solution, compared to a version with the `sum` function used directly rather than wrapped with `delay`? Can you explain the latter version? You might find the result of the following expression illuminating
```python
delayed(inc)(1) + delayed(inc)(2)
```

## Exercise: Parallelizing a for-loop code with control flow

Often we want to delay only *some* functions, running a few of them immediately.  This is especially helpful when those functions are fast and help us to determine what other slower functions we should call.  This decision, to delay or not to delay, is usually where we need to be thoughtful when using `dask.delayed`.

In the example below we iterate through a list of inputs.  If that input is even then we want to call `inc`.  If the input is odd then we want to call `double`.  This `is_even` decision to call `inc` or `double` has to be made immediately (not lazily) in order for our graph-building Python code to proceed.

In [ ]:
def double(x):
    sleep(1)
    return 2 * x

def is_even(x):
    return not x % 2

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
%%time
# Sequential code

results = []
for x in data:
    if is_even(x):
        y = double(x)
    else:
        y = inc(x)
    results.append(y)
    
total = sum(results)
print(total)

In [ ]:
%%time
# Your parallel code here...
# TODO: parallelize the sequential code above using dask.delayed
# You will need to delay some functions, but not all

In [ ]:
%load solutions/01-delayed-control-flow.py

In [ ]:
%time total.compute()

In [ ]:
total.visualize()

### Some questions to consider:

-  What are other examples of control flow where we can't use delayed?
-  What would have happened if we had delayed the evaluation of `is_even(x)` in the example above?
-  What are your thoughts on delaying `sum`?  This function is both computational but also fast to run.

## Analyze Parquet Data in the Cloud

In the last notebook we used Dask Dataframe to load CSV data from the cloud and then perform some basic analyses.  In these examples Dask dataframe automatically built our parallel algorithms for us.

In this section we'll do that same work, but now we'll use Dask delayed to construct these algorithms manually.  In practice you would never do this when performing Dask dataframe workloads (automatic algorithms already exist) but you may do this when parallelizing your own custom code.

### Exercise: Read Parquet data from the cloud in parallel

Rather than using data stored in CSV we'll switch to using data stored in the efficient Parquet format.  If Dask dataframe didn't include a `read_parquet` function we could still build it ourselves with Dask delayed.

The following lines list many filenames, and then load a single file into local memory as a Pandas dataframe using Arrow.

In [2]:
import gcsfs
gcs = gcsfs.GCSFileSystem()
filenames = sorted(gcs.glob('anaconda-public-data/nyc-taxi/nyc.parquet/part.*.parquet'))
filenames[:5]

['anaconda-public-data/nyc-taxi/nyc.parquet/part.0.parquet',
 'anaconda-public-data/nyc-taxi/nyc.parquet/part.1.parquet',
 'anaconda-public-data/nyc-taxi/nyc.parquet/part.10.parquet',
 'anaconda-public-data/nyc-taxi/nyc.parquet/part.100.parquet',
 'anaconda-public-data/nyc-taxi/nyc.parquet/part.101.parquet']

In [3]:
import pyarrow.parquet as pq

fn = filenames[0]
with gcs.open(fn) as f:
    pf = pq.ParquetFile(f)  # Arrow ParquetFile
    table = pf.read()       # Arrow Table
    df = table.to_pandas()  # Pandas DataFrame

df

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-01-01 00:00:00,1,2015-01-01 00:11:26,5,4.00,-73.971436,40.760201,1,N,-73.921181,40.768269,2,13.5,0.5,0.5,0.00,0.0,0.0,14.50
1,2015-01-01 00:00:00,2,2015-01-01 00:00:00,1,1.68,-73.991547,40.750069,1,N,0.000000,0.000000,2,10.0,0.0,0.5,0.00,0.0,0.3,10.80
2,2015-01-01 00:00:00,2,2015-01-01 00:00:00,3,1.56,-74.001320,40.729057,1,N,-74.010208,40.719662,1,7.5,0.5,0.5,0.00,0.0,0.3,8.80
3,2015-01-01 00:00:01,1,2015-01-01 00:03:49,1,0.80,-73.860847,40.757294,1,N,-73.868111,40.752285,2,5.0,0.5,0.5,0.00,0.0,0.0,6.30
4,2015-01-01 00:00:03,2,2015-01-01 00:21:48,2,2.57,-73.969017,40.754269,1,N,-73.994133,40.761600,2,14.5,0.5,0.5,0.00,0.0,0.3,15.80
5,2015-01-01 00:00:03,2,2015-01-01 00:10:50,1,1.58,-73.987579,40.765270,1,N,-73.976921,40.776970,1,9.0,0.5,0.5,1.90,0.0,0.3,12.20
6,2015-01-01 00:00:04,1,2015-01-01 00:10:44,3,2.50,-73.957008,40.774502,1,N,-73.966019,40.800617,2,10.5,0.5,0.5,0.00,0.0,0.0,11.80
7,2015-01-01 00:00:05,2,2015-01-01 00:10:52,2,1.30,-73.950500,40.769863,1,N,-73.950943,40.769825,1,8.5,0.5,0.5,2.00,0.0,0.3,11.80
8,2015-01-01 00:00:06,1,2015-01-01 00:00:48,2,0.00,-73.985367,40.710770,1,N,-73.984772,40.710682,3,2.5,0.5,0.5,0.00,0.0,0.0,3.80
9,2015-01-01 00:00:06,2,2015-01-01 00:15:15,3,5.62,-73.978104,40.786282,1,N,-74.010170,40.719971,2,18.0,0.5,0.5,0.00,0.0,0.3,19.30
10,2015-01-01 00:00:07,1,2015-01-01 00:11:26,1,2.50,-73.971382,40.795406,1,N,-73.950127,40.826523,2,11.0,0.5,0.5,0.00,0.0,0.0,12.30
11,2015-01-01 00:00:07,2,2015-01-01 00:02:25,6,0.31,-74.009148,40.717430,1,N,-74.005020,40.719120,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
12,2015-01-01 00:00:07,1,2015-01-01 00:11:07,1,2.10,-74.001915,40.739483,1,N,-73.978333,40.751400,1,10.0,0.5,0.5,2.80,0.0,0.0,14.10
13,2015-01-01 00:00:07,2,2015-01-01 00:16:47,2,2.23,-73.974152,40.737263,1,N,-73.996628,40.742512,2,12.0,0.5,0.5,0.00,0.0,0.0,13.00
14,2015-01-01 00:00:08,1,2015-01-01 00:02:28,2,0.90,-73.962776,40.815151,1,N,-73.957703,40.820324,2,4.5,0.5,0.5,0.00,0.0,0.0,5.80
15,2015-01-01 00:00:08,1,2015-01-01 00:11:08,1,1.90,-73.940056,40.841171,1,N,-73.939819,40.820728,2,9.5,0.5,0.5,0.00,0.0,0.0,10.80
16,2015-01-01 00:00:08,2,2015-01-01 00:03:40,1,0.83,-73.972687,40.795761,1,N,-73.971375,40.787750,1,5.0,0.5,0.5,1.10,0.0,0.3,7.40
17,2015-01-01 00:00:08,2,2015-01-01 00:07:32,5,0.85,-73.972588,40.749298,1,N,-73.982368,40.742882,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
18,2015-01-01 00:00:09,2,2015-01-01 00:12:36,1,1.37,-74.000526,40.730091,1,N,-74.006088,40.733170,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
19,2015-01-01 00:00:09,2,2015-01-01 00:12:48,1,3.47,-74.001343,40.731297,1,N,-73.955132,40.708336,2,13.0,0.5,0.5,0.00,0.0,0.3,14.30
20,2015-01-01 00:00:09,1,2015-01-01 00:07:34,1,1.30,-73.951645,40.725502,1,N,-73.958916,40.712532,1,7.0,0.5,0.5,1.00,0.0,0.0,9.30
21,2015-01-01 00:00:11,1,2015-01-01 00:03:20,1,1.00,-73.930420,40.761150,1,N,-73.941544,40.756119,2,5.0,0.5,0.5,0.00,0.0,0.0,6.30
22,2015-01-01 00:00:11,1,2015-01-01 00:12:54,1,1.40,-73.986000,40.740601,1,N,-74.004539,40.752144,2,9.5,0.5,0.5,0.00,0.0,0.0,10.80
23,2015-01-01 00:00:12,1,2015-01-01 00:13:53,1,3.80,-74.002014,40.730515,1,N,-73.991814,40.690529,2,14.0,0.5,0.5,0.00,0.0,0.0,15.30
24,2015-01-01 00:00:13,2,2015-01-01 00:04:58,3,0.92,-73.983208,40.753807,1,N,-73.991249,40.749191,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80
25,2015-01-01 00:00:14,2,2015-01-01 00:13:58,2,2.22,-73.993675,40.752396,1,N,-74.004982,40.733288,2,11.0,0.5,0.5,0.00,0.0,0.0,12.00
26,2015-01-01 00:00:14,2,2015-01-01 00:17:16,1,2.94,-73.988213,40.723652,1,N,-73.995644,40.753880,1,13.5,0.5,0.5,2.80,0.0,0.3,17.60
27,2015-01-01 00:00:14,2,2015-01-01 00:02:46,6,0.42,-73.954048,40.770466,1,N,-73.959984,40.773663,2,4.0,0.5,0.5,0.00,0.0,0.3,5.30
28,2015-01-01 00:00:14,2,2015-01-01 00:15:14,1,2.17,-74.007133,40.739491,1,N,-73.980721,40.745251,1,11.0,0.5,0.5,2.30,0.0,0.3,14.60
29,2015-01-01 00:00:16,2,2015-01-01 00:24:09,5,1.48,-73.983429,40.767048,1,N,-73.994827,40.755402,1,15.0,0.5,0.5,0.00,0.0,0.3,16.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837439,2015-01-03 10:42:15,2,2015-01-03 10:50:32,4,2.71,-73.984657,40.755440,1,N,-73.959122,40.783272,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
837440,2015-01-03 10:42:16,1,2015-01-03 10:46:29,1,1.30,-73.962509,40.805439,1,N,-73.966515,40.792503,2,6.0,0.0,0.5,0.00,0.0,0.0,6.80
837441,2015-01-03 10:42:16,1,2015-01-03 10:56:39,1,4.60,-73.951385,40.770164,1,N,-74.002098,40.739689,1,16.0,0.0,0.5,3.35,0.0,0.0,20.15
837442,2015-01-03 10:42:16,1,2015-01-03 10:53:06,1,1.20,-73.977364,40.762966,1,N,-73.985985,40.752327,2,8.5,0.0,0.5,0.00,0.0,0.0,9.30
837443,2015-01-03 10:42:16,1,2015-01-03 10:52:44,1,3.20,-73.956749,40.766117,1,N,-73.938210,40.804749,1,11.5,0.0,0.5,3.05,0.0,0.0,15.35
837444,2015-01-03 10:42:17,2,2015-01-03 10:51:57,1,2.30,-73.990448,40.756256,1,N,-73.966835,40.772411,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
837445,2015-01-03 10:42:17,2,2015-01-03 10:45:31,1,0.68,-73.994644,40.740124,1,N,-74.004494,40.742352,2,4.5,0.0,0.5,0.00,0.0,0.3,5.30
837446,2015-01-03 10:42:17,2,2015-01-03 10:47:41,1,0.91,-73.975311,40.765270,1,N,-73.980118,40.759659,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80
837447,2015-01-03 10:42:18,1,2015-01-03 10:49:46,1,1.20,-73.993027,40.756004,1,N,-73.979172,40.759357,1,7.0,0.0,0.5,4.00,0.0,0.0,11.80
837448,2015-01-03 10:42:18,1,2015-01-03 10:49:13,1,1.30,-73.963509,40.769047,1,N,-73.982353,40.771580,1,7.0,0.0,0.5,4.00,0.0,0.0,11.80
837449,2015-01-03 10:42:18,2,2015-01-03 10:52:09,2,2.37,-73.990486,40.730972,1,N,-73.970840,40.759144,1,10.0,0.0,0.5,2.00,0.0,0.3,12.80
837450,2015-01-03 10:42:18,2,2015-01-03 10:47:40,1,1.12,-73.986481,40.766510,1,N,-73.981987,40.779709,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80
837451,2015-01-03 10:42:19,2,2015-01-03 10:48:21,5,1.22,-73.998962,40.733986,1,N,-73.997269,40.724823,1,6.5,0.0,0.5,1.62,0.0,0.3,8.92
837452,2015-01-03 10:42:19,2,2015-01-03 10:46:57,2,0.61,-73.983330,40.744572,1,N,-73.989372,40.746395,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
837453,2015-01-03 10:42:19,1,2015-01-03 10:45:50,1,0.80,-73.957176,40.777294,1,N,-73.957024,40.768158,2,5.0,0.0,0.5,0.00,0.0,0.0,5.80
837454,2015-01-03 10:42:20,2,2015-01-03 10:46:29,1,0.68,-73.995377,40.744064,1,N,-74.003464,40.749138,1,5.0,0.0,0.5,2.00,0.0,0.3,7.80
837455,2015-01-03 10:42:20,1,2015-01-03 10:49:40,1,2.10,-73.948280,40.782108,1,N,-73.975075,40.778370,1,9.0,0.0,0.5,1.95,0.0,0.0,11.75
837456,2015-01-03 10:42:20,1,2015-01-03 10:55:22,2,3.00,-73.944618,40.779465,1,N,-73.983879,40.775650,2,12.0,0.0,0.5,0.00,0.0,0.0,12.80
837457,2015-01-03 10:42:20,2,2015-01-03 10:43:16,1,0.34,-74.002800,40.728642,1,N,-73.999718,40.733521,2,3.0,0.0,0.5,0.00,0.0,0.3,3.80
837458,2015-01-03 10:42:21,1,2015-01-03 10:53:46,1,2.80,-73.991455,40.729809,1,N,-73.976112,40.764355,2,11.0,0.0,0.5,0.00,0.0,0.0,11.80
837459,2015-01-03 10:42:21,1,2015-01-03 10:48:22,1,1.80,-73.971756,40.753544,1,N,-73.991661,40.738621,1,7.5,0.0,0.5,2.05,0.0,0.0,10.35
837460,2015-01-03 10:42:21,1,2015-01-03 10:58:41,1,3.00,-73.982910,40.758732,1,N,-73.999107,40.724937,2,13.5,0.0,0.5,0.00,0.0,0.0,14.30
837461,2015-01-03 10:42:21,2,2015-01-03 10:53:46,6,1.80,-73.982697,40.763378,1,N,-73.976311,40.749290,1,9.5,0.0,0.5,1.90,0.0,0.3,12.20
837462,2015-01-03 10:42:21,1,2015-01-03 10:47:38,1,1.20,-73.997826,40.756607,1,N,-74.004585,40.746891,1,6.5,0.0,0.5,1.00,0.0,0.0,8.30
837463,2015-01-03 10:42:21,2,2015-01-03 11:11:16,6,6.48,-73.970161,40.767941,1,N,-74.006828,40.706573,1,26.5,0.0,0.5,5.30,0.0,0.3,32.60
837464,2015-01-03 10:42:21,1,2015-01-03 10:50:34,2,1.30,0.000000,0.000000,1,N,0.000000,0.000000,1,7.5,0.0,0.5,2.00,0.0,0.0,10.30
837465,2015-01-03 10:42:22,1,2015-01-03 10:57:03,1,3.40,-73.990051,40.762115,1,N,-73.998444,40.717045,1,13.0,0.0,0.5,2.00,0.0,0.0,15.80
837466,2015-01-03 10:42:22,1,2015-01-03 10:48:04,1,0.70,-73.961739,40.755104,1,N,-73.969933,40.761368,2,5.5,0.0,0.5,0.00,0.0,0.0,6.30
837467,2015-01-03 10:42:22,1,2015-01-03 10:49:15,1,1.70,-73.982368,40.751598,1,N,-74.001335,40.733852,2,7.5,0.0,0.5,0.00,0.0,0.0,8.30
837468,2015-01-03 10:42:22,2,2015-01-03 10:52:16,6,1.86,-73.981979,40.749962,1,N,-73.982094,40.770489,1,9.0,0.0,0.5,2.25,0.0,0.3,12.05

Your objective in this exercise is to turn the list of filenames into a list of delayed values that, when computed, each evaluate to a Pandas dataframe like the one above, but for each separate filename.

When you have this list of delayed values, persist them into distributed memory with `dask.persist`

```python
import dask

values = dask.persist(*values)
```

### Exercise: Parallelizing a Pandas Groupby Reduction

In this exercise we recreate a groupby-aggregation in Dask dataframe using Dask delayed.  This should give you a greater sense of how Dask dataframe projects are implemented, and also help you in the future if you need to build your own algorithms.

### Sequential code: Mean Departure Delay Per Airport

The above cell computes the mean departure delay per-airport for one year. Here we expand that to all years using a sequential for loop.

In [ ]:
from glob import glob
filenames = sorted(glob(os.path.join('data', 'nycflights', '*.csv')))

In [ ]:
%%time

sums = []
counts = []
for fn in filenames:
    # Read in file
    df = pd.read_csv(fn)
    
    # Groupby origin airport
    by_origin = df.groupby('Origin')
    
    # Sum of all departure delays by origin
    total = by_origin.DepDelay.sum()
    
    # Number of flights by origin
    count = by_origin.DepDelay.count()
    
    # Save the intermediates
    sums.append(total)
    counts.append(count)

# Combine intermediates to get total mean-delay-per-origin
total_delays = sum(sums)
n_flights = sum(counts)
mean = total_delays / n_flights

In [ ]:
mean

### Parallelize the code above

Use `dask.delayed` to parallelize the code above.  Some extra things you will need to know.

1.  Methods and attribute access on delayed objects work automatically, so if you have a delayed object you can perform normal arithmetic, slicing, and method calls on it and it will produce the correct delayed calls.

    ```python
    x = delayed(np.arange)(10)
    y = (x + 1)[::2].sum()  # everything here was delayed
    ```
2.  Calling the `.compute()` method works well when you have a single output.  When you have multiple outputs you might want to use the `dask.compute` function:

    ```python
    >>> x = delayed(np.arange)(10)
    >>> y = x ** 2
    >>> min_, max_ = compute(y.min(), y.max())
    >>> min_, max_
    (0, 81)
    ```
    
    This way Dask can share the intermediate values (like `y = x**2`)
    
So your goal is to parallelize the code above (which has been copied below) using `dask.delayed`.  You may also want to visualize a bit of the computation to see if you're doing it correctly.

In [ ]:
from dask import compute

In [ ]:
%%time

# copied sequential code

sums = []
counts = []
for fn in filenames:
    # Read in file
    df = pd.read_csv(fn)
    
    # Groupby origin airport
    by_origin = df.groupby('Origin')
    
    # Sum of all departure delays by origin
    total = by_origin.DepDelay.sum()
    
    # Number of flights by origin
    count = by_origin.DepDelay.count()
    
    # Save the intermediates
    sums.append(total)
    counts.append(count)

# Combine intermediates to get total mean-delay-per-origin
total_delays = sum(sums)
n_flights = sum(counts)
mean = total_delays / n_flights

In [ ]:
mean

In [ ]:
%%time
# your code here

If you load the solution, add `%%time` to the top of the cell to measure the running time.

In [ ]:
%load solutions/01-delayed-groupby.py

In [ ]:
# ensure the results still match
mean

### Some questions to consider:

- How much speedup did you get? Is this how much speedup you'd expect?
- Experiment with where to call `compute`. What happens when you call it on `sums` and `counts`? What happens if you wait and call it on `mean`?
- Experiment with delaying the call to `sum`. What does the graph look like if `sum` is delayed? What does the graph look like if it isn't?
- Can you think of any reason why you'd want to do the reduction one way over the other?